@media (min-width: 0px) {
  .Favorite-main-text {
    color: white;
    font-size: 35px;
  }
  .align-text-favorite {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }

  .align-favorite-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (min-width: 280px) {
}

@media (min-width: 490px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 2560px) {
}
