$mainBackground: #0e0e16;

$blueGradient: linear-gradient(90deg, rgb(41, 103, 184), rgb(36, 160, 209));

$NoGradient: linear-gradient(90deg, rgba(41, 103, 184, 0), rgba(36, 160, 209, 0));
$shadowBackground: rgba(17, 16, 16, 0.384);
$greyColor: rgba(255, 255, 255, 0.452);
$cardWidth: 180px;
